$mainBgColor: rgba(234, 238, 243, 0.2);
$colorWhite: #ffffff;
$colorGrey: #f4f5f7;
$bgImage: url('stylesheets/images/action-bg.png');
$bgMask: url('stylesheets/images/action-mask.png');
$twitterIcon: url('stylesheets/icons/twitter.svg');
$facebookIcon: url('stylesheets/icons/facebook.svg');
$linkedInIcon: url('stylesheets/icons/linkedin.svg');

$ratesBgColor: #f4f5f7;
$ratesFirstColor: #eceff3;
$ratesSecondColor: #9183c7;
$ratesThirdColor: rgba(66, 71, 83, 0.8);
$ratedLineColor: #ededef;

// Main hero
.action {
	position: relative;
	min-height: 100vh;
	max-height: 1000px;
	
	background: $mainBgColor 
	            linear-gradient(200deg, rgba(43, 139, 227, 0.8) 6.12%, rgba(102, 63, 181, 0.8) 90.47%)
				center;

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&::before { 
		background: $mainBgColor $bgMask no-repeat center;
		background-size: cover;
		opacity: 0.5;
		z-index: -10;
	}

	&::after {
		background: rgba(255, 255, 255, 0.5) $bgImage no-repeat center;
		background-size: cover;
		z-index: -100;
	}

	&__header {
		display: flex;
		padding: 45px 0 20px;
	}

	&__slogan {
		padding-top: 15%;
		text-align: center;
	}

	&__title {
		margin-bottom: 17px;
	}

	&__subtitle {
		margin-bottom: 62px;
	}
}

// Logo component
.logo {
	&__img {
		
	}
}

// Socials block component
.socials {
	display: block;
	text-align: center;
	padding-bottom: 37px;


	&_absolute {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		bottom: 0;
	}

	&__item {
		display: inline-block;
		padding: 5px 16px;
		border-right: 2px solid rgba(255,255,255,.25);
	}

	&__item:last-child {
		border-right: none;
	}

	&__link {
		font-family: inherit;
		font-size: 13px;
		line-height: 13px;
		font-weight: 400;
		vertical-align: middle;

		color: $colorWhite;
		text-decoration: none;

		&::before {
			margin-right: 2px;
			vertical-align: middle;
		}

		&_twitter::before {
			content: $twitterIcon;
		}

		&_facebook::before {
			content: $facebookIcon;
		}

		&_linkedin::before {
			content: $linkedInIcon;
		}
	}
}

// Nav component
.nav {
	display: flex;
	align-items: center;
}


//feedback 
.feedback {
	background: $colorGrey;
	min-height: 392px;
	display: block;

	padding: {
		top: 90px;
		bottom: 100px;
	}

	&__form {
		display: flex;
	}

	&_distanced {
		margin-bottom: 60px;
	}

	&_distanced_small {
		margin-bottom: 30px;
	}

}

// Rates compontent
.rate {
	display: block;
	padding: 90px 0px;

	text-align: center; //delete soon...and add text-center class for .rates

	background-color: $ratesBgColor;

	&__title {
		margin-bottom: 110px;
	}
}

%bottom-line {
	border-bottom: 1px solid $ratedLineColor;
}

%reset-ul-style {
	ul,
	ul li {
	   margin:0;
	   padding: 0;
	   text-indent: 0;
	   list-style-type: 0;
	}
}

.tariff {
	display: block;
	min-height: 524px;
	height: auto;
	vertical-align: middle;
	
	background-color: $colorWhite;
	border: 1px solid $ratesFirstColor;
	border-radius: 5px;

	&_active {
		position: relative;
		z-index: 10;
		border-color: $ratesSecondColor;
		transform: scale(1.2);
		transition: transform .5s;
	}

	&_active &__title {
		color: $colorWhite;
		background-color: $ratesSecondColor;
	}

	&__title {
		display: block;
		padding-top: 19px;
		padding-bottom: 16px;

		font-family: inherit;
		font-size: 13px;
		line-height: 15px;


		color: $ratesThirdColor;
		background-color: $ratesFirstColor;

		border-radius: 2px 2px 0 0;
	}

	&__content {
		display: block;
		padding: 30px 25px;
	}

	&__price {
		display: block;
		position: relative;
		padding-bottom: 5px;
		margin-bottom: 26px;

		font-family: inherit;
		font-size: 68px;
		line-height: 1.5;
		color: inherit;

		@extend %bottom-line;

		&::before { 
			content: '$';
			margin-right: 5px;

			font-family: inherit;
			font-size: 28px;
			line-height: 33px;

			color: inherit;
		};

		&::after {
			content: '/MONTH';
			position: relative;
			bottom: -15px;
			
			font-family: inherit;
			font-size: 13px;

			color: $ratesThirdColor;
		}

	}

	&__list {
		@extend %reset-ul-style;

		display: block;
		margin-bottom: 60px; //delete soon...and add utilities margin-b class for .rates
	}

	&__item {
		@extend %bottom-line;

		display: block;
		padding: 20px 0 10px;
	}
}











