@import "variables";

.checkbox {
    &__input + &__label::after {
        content: none;
    }

    &__input:checked + &__label:after {
        content: $checkboxImage;
    }

    &__input:focus + &__label::before {
        outline: rgb(59, 153, 252) auto 5px;
    }

    &__input {
        opacity: 0;
        margin-left: 11px;
    }

    &__label {
        position: relative;
        font-family: inherit;
        font-size: 15px;
        line-height: 18px;

        color: rgba(66, 71, 83, 0.8);

        &::before,
        &::after {
            position: absolute;
        }
        
        &::before {
            content: '';
            display: inline-block;
            top: 50%;
            transform: translateY(-50%);
            left: -30px;
        
            height: 20px;
            width: 20px;

            background-color: $colorWhite;
        
            border: 2px solid $borderColor;   
        }

        &::after {
            content: $checkboxImage;
            top: 2px;
            left: -25px;
        }
    }

    &__link {
        text-decoration: none;
        outline: none;
        color: inherit;
        border-bottom: 1px solid rgba(187, 190, 196, 0.8);
    }

    &__link:focus {
        outline: rgb(59, 153, 252) auto 5px;
    }
}

