$color: #fff;
$font-weight: 400;
$font-size: 15px;
$line-height: 18px;

.link {
	font-weight: $font-weight;
	font-size: $font-size;
	line-height: $line-height;
	color: $color;
	text-decoration: none;
	padding-bottom: 5px;
	display: inline-block;

	&_right-margin{
		margin-right: 20px;
	}
	
	&_animated {
		transition: 0.1s linear;
	}

	&_animated:hover {
		border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	}
}
