@import "variables";

.tabs {
    display: block;
    position: relative;
    font-family: inherit;
    min-height: 500px;

    background: {
        color: $tabsColorFirst;
        image: $tabsGradient;
        size: cover;
        repeat: no-repeat;
        position: center;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.1;

        background: {
            color: $tabsColorSecond;
            image: $tabsBackgroundImage;
            size: cover;
            repeat: no-repeat;
            position: center;
        }
    }

    &__content {
        display: block;
        text-align: center;
    }

    &__text {
        font-size: 28px;
        line-height: 41px;
        text-align: center;
        color:$colorWhite;
        margin: {
            top: 6.7px;
            bottom:11.3px;
        }

        &_name {
            position: relative;
            font-size: 16px;
            line-height: 19px;

            &::after {
               content: ''; 
               position: absolute;
               display: block;
               width: 42px;
               height: 3px;
               background-color: $colorWhite;
               left: 50%;
               transform: translateX(-50%); 
               bottom: -10px;

               margin: {
                    
               }
            }
        }
    }

    &__nav {
        display: flex;
        position: absolute;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        bottom: 38px;

    }

    &__element {
        
    }

    &__input {
        display: none;   
    }

    &__input:checked + &__label {
        opacity: 1;  
    }

    &__label {
        opacity: .5;
    }

    &__img {
        border-radius: 50%;
        max-width: 70px;
        max-height: 70px;

        margin: {
            left: 7px;
            left: 7px;
        }

        &_content {
            max-width: 100px;
            max-height: 100px;
            margin-top: 90px;
        }
    }
}