$colorPrimary = #ffffff;
$colorSecondary = #6c59b4;
$buttonIcon = "button__icon.png";

.button {
    outline: none;
    padding: 23px 41px 21px 71px;
    text-align: center;
    font-family: inherit;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    border: {
        width: 2px;
        style: solid;
        radius: 40px;
    }

    &_primary{
        padding-right: 41px;
        background-color: : inherit;
        color: $colorPrimary;
        border-color: $colorPrimary;
    }

    &_secondary{
        background-color: $colorSecondary;
        color: $colorPrimary;
        border-color: $colorSecondary;
    }

    &_alternative{
        background-color: : inherit;
        border: 2px solid $colorSecondary;
        color: $colorSecondary;
        border-color: $colorSecondary
    }
    &_img {
        padding: {
            left: 36px;
            bottom: 19px;
        }
        text-align: right;
        background: {
            image: url($buttonIcon);
            repeat: no-repeat;
            position: 36px center;
        }
    }
}


