.subtitle{
		font-size: 16px;
		line-height: 32px;
		color: #424753;

		&_slider{
		    line-height: 19px;
		}

		&_big{
		    font-size: 26px;
		    line-height: 30px;
		}

		&_bright{
				color: #ffffff;
		}		
}
			