@import "variables";

.subtitle {
	font-size: 16px;
	line-height: 32px;
	color: $textColor;

	&_slider {
	  line-height: 19px;
	}

	&_big {
	   font-size: 26px;
	   line-height: 30px;
	}

	&_bright {
		color: $colorWhite;
	}		
}
			