.text-center {
	text-align: center !important;
}

.p-0 {
	padding: 0 !important;
}

.p-left-110 {
	padding-left: 110px !important;
}

.scale-1-2 {
	transform: scale(1.2) !important;
}

.mb-30 {
   margin-bottom: 30px !important;
}

.mb-10 {
   margin-bottom: 10px !important;
}

.h-100 {
	height: 100vh !important;
}

@media (min-width: 576px) {
	.p-sm-0 {
		padding: 0 !important;
	}

	.p-left-sm-110 {
		padding-left: 110px !important;
	}

	.scale-sm-1-2 {
		transform: scale(1.2) !important;
	}

	.mb-sm-30 {
	 margin-bottom: 30px !important;
   }

   .mb-sm-60 {
	 margin-bottom: 60px !important;
   }

   .text-left-sm {
	   text-align: left !important;
   }

   .tabs__text_sm {
	   font-size: 16px !important; //28
	   line-height: 32px !important; //41

   }

   .tabs_sm {
	   min-height: 500px !important;
   }

   .h-sm-100 {
		height: 100vh !important;
	}
}

@media (min-width: 768px) {
	.p-md-0 {
		padding: 0 !important;
	}

	.p-left-md-110 {
		padding-left: 110px !important;
	}

	.scale-md-1-2 {
		transform: scale(1.2) !important;
	}


	.h-md-100 {
		height: 100vh !important;
	}
}

@media (min-width: 992px) {
	.p-lg-0 {
		padding: 0 !important;
	}

	.p-left-lg-110 {
		padding-left: 110px !important;
	}

	.scale-lg-1-2 {
		transform: scale(1.2) !important;
	}

	.tabs_lg {
		min-height: 500px !important;
	}

	.tabs__text_lg {
		font-size: 28px !important; //28
		line-height: 41px !important; //41

	}

	.text-left-lg {
		text-align: left !important;
	}


	.h-lg-100 {
		height: 100vh !important;
	}
}

@media (min-width: 1200px) {
	.p-xl-0 {
		padding: 0 !important;
	}

	.p-left-xl-110 {
		padding-left: 110px !important;
	}

	.scale-xl-1-2 {
		transform: scale(1.2) !important;
	}


	.h-xl-100 {
		height: 100vh !important;
	}
}
